@import "tailwindcss";

@theme {
--color-PrimaryBlue950:  hsl(213, 96%, 18%);
--color-PrimaryPurple600:  hsl(243, 100%, 62%);
--color-PrimaryBlue300: hsl(228, 100%, 84%);
--color-PrimaryBlue200: hsl(206, 94%, 87%);
--color-PrimaryRed500: hsl(354, 84%, 57%);

--color-NeutralGrey500: hsl(231, 11%, 63%);
--color-NeutralPurple200:  hsl(229, 24%, 87%);
--color-NeutralBlue100:  hsl(218, 100%, 97%);
--color-NeutralBlue50:  hsl(231, 100%, 99%);
--color-NeutralWhite:  hsl(0, 100%, 100%);
}

body {
  font-family: 'Ubuntu', sans-serif;
  font-size: 16px;
  background-color: hsl(218, 100%, 97%);

  
}